* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

button {
  text-decoration: none;
  border: 0;
}

.container {
  width: 100%;
  width: 375px;
  margin: 0 auto;
  padding: 0 5%;
}

.row {
  min-height: 300px;
  background-color: aquamarine;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 0;
}

.gap-0 {
  gap: 0;
}

.gap-1 {
  gap: 10px;
}

.gap-2 {
  gap: 15px;
}

.gap-3 {
  gap: 20px;
}

.gap-4 {
  gap: 25px;
}

.gap-5 {
  gap: 30px;
}

.gap-6 {
  gap: 35px;
}

.bg-blue_std {
  background-color: #0084fd;
}

.text-blue_std {
  color: #0084fd;
}

.bg-blue_lgt {
  background-color: #b5ddff;
}

.text-blue_lgt {
  color: #b5ddff;
}

.bg-purple_std {
  background-color: #9792e4;
}

.text-purple_std {
  color: #9792e4;
}

.bg-yellow_std {
  background-color: #fdc15f;
}

.text-yellow_std {
  color: #fdc15f;
}

.bg-blk {
  background-color: black;
}

.text-blk {
  color: black;
}

.bg-wht {
  background-color: white;
}

.text-wht {
  color: white;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}
.navbar .nav-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.btn-p-1 {
  padding: 2px;
}

.btn-plr-1 {
  padding-left: 2px;
  padding-right: 2px;
}

.btn-ptb-1 {
  padding-top: 2px;
  padding-bottom: 2px;
}

.btn-p-2 {
  padding: 4px;
}

.btn-plr-2 {
  padding-left: 4px;
  padding-right: 4px;
}

.btn-ptb-2 {
  padding-top: 4px;
  padding-bottom: 4px;
}

.btn-p-3 {
  padding: 6px;
}

.btn-plr-3 {
  padding-left: 6px;
  padding-right: 6px;
}

.btn-ptb-3 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.btn-p-4 {
  padding: 8px;
}

.btn-plr-4 {
  padding-left: 8px;
  padding-right: 8px;
}

.btn-ptb-4 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.btn-p-5 {
  padding: 10px;
}

.btn-plr-5 {
  padding-left: 10px;
  padding-right: 10px;
}

.btn-ptb-5 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.btn-p-6 {
  padding: 12px;
}

.btn-plr-6 {
  padding-left: 12px;
  padding-right: 12px;
}

.btn-ptb-6 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.btn-p-7 {
  padding: 14px;
}

.btn-plr-7 {
  padding-left: 14px;
  padding-right: 14px;
}

.btn-ptb-7 {
  padding-top: 14px;
  padding-bottom: 14px;
}

.p-0 {
  padding: 0;
}

.p-1 {
  padding: 25px;
}

.p-2 {
  padding: 37.5px;
}

.p-3 {
  padding: 50px;
}

.p-4 {
  padding: 75px;
}

.p-5 {
  padding: 100px;
}

.p-6 {
  padding: 125px;
}

.pl-0 {
  padding-left: 0;
}

.pl-1 {
  padding-left: 25px;
}

.pl-2 {
  padding-left: 37.5px;
}

.pl-3 {
  padding-left: 50px;
}

.pl-4 {
  padding-left: 75px;
}

.pl-5 {
  padding-left: 100px;
}

.pl-6 {
  padding-left: 125px;
}

.pr-0 {
  padding-right: 0;
}

.pr-1 {
  padding-right: 25px;
}

.pr-2 {
  padding-right: 37.5px;
}

.pr-3 {
  padding-right: 50px;
}

.pr-4 {
  padding-right: 75px;
}

.pr-5 {
  padding-right: 100px;
}

.pr-6 {
  padding-right: 125px;
}

.pt-0 {
  padding-top: 0;
}

.pt-1 {
  padding-top: 25px;
}

.pt-2 {
  padding-top: 37.5px;
}

.pt-3 {
  padding-top: 50px;
}

.pt-4 {
  padding-top: 75px;
}

.pt-5 {
  padding-top: 100px;
}

.pt-6 {
  padding-top: 125px;
}

.pb-0 {
  padding-bottom: 0;
}

.pb-1 {
  padding-bottom: 25px;
}

.pb-2 {
  padding-bottom: 37.5px;
}

.pb-3 {
  padding-bottom: 50px;
}

.pb-4 {
  padding-bottom: 75px;
}

.pb-5 {
  padding-bottom: 100px;
}

.pb-6 {
  padding-bottom: 125px;
}

.br {
  border-radius: 20px;
}

.br-none {
  border-radius: 0;
}

.br-xs {
  border-radius: 5px;
}

.br-sm {
  border-radius: 10px;
}

.br-lg {
  border-radius: 40px;
}

.br-full {
  border-radius: 50%;
}

.font-sm {
  font-size: 0, 75rem;
}

.font-md {
  font-size: 1rem;
}

.font-lg {
  font-size: 1.5rem;
}

.font-xl {
  font-size: 2rem;
}

.font-xxl {
  font-size: 2.5rem;
}

@media (min-width: 0px) {
  .col-1-xs {
    width: 33.3333333333%;
  }
  .col-2-xs {
    width: 66.6666666667%;
  }
  .col-3-xs {
    width: 100%;
  }
  .navbar .nav-info-container {
    display: none;
  }
}
@media (min-width: 768px) {
  .col-1-md {
    width: 33.3333333333%;
  }
  .col-2-md {
    width: 66.6666666667%;
  }
  .col-3-md {
    width: 100%;
  }
  .container {
    width: 768px;
  }
  .navbar .nav-info-container {
    display: none;
  }
  .navbar i {
    display: block;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    width: 33.3333333333%;
  }
  .col-2-xl {
    width: 66.6666666667%;
  }
  .col-3-xl {
    width: 100%;
  }
  .container {
    width: 1200px;
  }
  .navbar .nav-info-container {
    display: flex;
  }
  .navbar i {
    display: none;
  }
}