@use "sass:math";
@use 'breakpoints';
@use 'variables';

//first grid columns you have
$grid-columns: 3;
$grid-gaps: (
    "0": 0,
    "1": 10px,
    "2": 15px,
    "3": 20px,
    "4": 25px,
    "5": 30px,
    "6": 35px,
);

.container {
    width: 100%;
    width: variables.$base-width;
    margin: 0 auto;
    padding: 0 5%;
}

.row{
    //test
    min-height: 300px;
    background-color: aquamarine;

    display: flex;
    flex-wrap: wrap;
    flex-basis: 0;
}

@each $key, $val in $grid-gaps {
    .gap-#{$key} {
        gap: $val;
    }
}


@include breakpoints.xs {
    @for $i from 1 through $grid-columns {
        .col-#{$i}-xs {
            width: math.div($i * 100%, $grid-columns);
        }
    }
}

@include breakpoints.md {
    @for $i from 1 through $grid-columns {
        .col-#{$i}-md {
            width: math.div($i * 100%, $grid-columns);
        }
    }

    .container{
        width: map_get(breakpoints.$breakpoints, "md");
    }
}

@include breakpoints.xl {
    @for $i from 1 through $grid-columns {
        .col-#{$i}-xl {
            width: math.div($i * 100%, $grid-columns);
        }
    }

    .container{
        width: map_get(breakpoints.$breakpoints, "xl");
    }
}

