@use 'layouts';
@use 'variables';

.navbar {
    @include layouts.flex-row(space-between, center);
    width: 100%;
    height: variables.$navbar-height;

    .nav-info-container {
        @include layouts.flex-row(space-between, center);
        //display: none;
    }

    i {
        display: none;
    }
}